<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>День святого Валентина</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <div class="falling-hearts" id="hearts"></div>

    <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='img/alabuga_logo.svg') }}" alt="Логотип" class="logo">
            </a>
        </div>
    </nav>

    <div class="parallax">
        <div class="overlay"></div>
        <div class="container h-100 d-flex align-items-center">
            <div class="row w-100">
                <div class="col-md-6">
                    <div class="valentine-card">
                        <h2 class="text-center mb-4"><i class="bi bi-heart"></i> Люби вместе с Алабугой! </h2>
                        <a href="/create" class="btn heart-button w-100 mt-3">
                            Открыть Сердце <i class="bi bi-chat-heart-fill"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="creator-section">
                        <h4 class="mb-3">Создатели</h4>
                        <div class="creator-details">
                            <div class="creator-item">
                                <i class="bi bi-person-fill"></i>
                                <span>Идеолог: <a href="https://t.me/vednees">@vednees</a></span>
                            </div>
                            <div class="creator-item">
                                <i class="bi bi-code-slash"></i>
                                <span>Разработчик: <a href="https://fazzyt.github.io/">@fazzyt</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom text-center mt-4">
                <p>&copy; 2024 Алабуга. Все права защищены.</p>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/heart.js') }}"></script>

</body>
</html>