<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Валентинка</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/valentine.css') }}">
</head>

<body>
    <div class="falling-hearts" id="hearts"></div>

    <div class="parallax d-flex align-items-center justify-content-center min-vh-100">
        <div class="overlay"></div>
        <div class="container">
            <div class="valentine-message col-md-12 text-center">
                <div class="text-center">
                    <i class="bi bi-heart-fill heart-icon"></i>
                    <h2 class="mb-4">Валентинка</h2>
                    <p class="lead text-light">{{ message|e }}</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container text-center">
            <p>&copy; 2024 Алабуга. Все права защищены.</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/heart.js') }}"></script>
</body>
</html>